<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div style="
    border: 5px solid <%= telefonSzin %>;
    border-radius: 3px;
    width: 400px;">
    <div>
        <p>A telefon neve: <%= telefonNev %></p>
        <p>A telefon Tipusa: <%= telefonTipus %></p>
        <p>A telefon ára: <%= telefonAr %></p>
        <p>A telefon állapota: <%= telefonAllapot %></p>
    </div>

    </div>

</body>
</html>